
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome To Bread Builder!</h1>

<br />
<br />

<p>Bread Builder is a place where you can
    create, store, and edit all your
    bread formulas!</p>
<br />
<br />
<a asp-controller="Bread" asp-action="Add">--Click here to start building bread--</a>
<h5>OR</h5>
<a asp-controller="User" asp-action="Add">--Click here to add a profile--</a>

