
@{
    ViewData["Title"] = "Welcome";
}
<br />
<br />
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Welcome to Bread Builder</h1>
            <hr />
            <p class="lead">A place where you can create, save, and edit all your bread formulas</p>
            <div class="text-left">
                <button asp-controller="Bread" asp-action="Add" class="btn btn-lg btn-primary">Build Bread</button>
            </div>
            <br />
            <div class="text-left">
                <button asp-controller="User" asp-action="Add" class="btn btn-lg btn-primary">Add Profile</button>
            </div>

        </div>
        </div>
    </div>


        

