@model IEnumerable<BreadBuilder.Models.Bread>

@{
    ViewData["Title"] = "UserRecipeList";
}

<h2 class="text-center">My Bread List</h2>



    @foreach (var item in Model)
     {


            <div class="jumbotron">
               <a asp-controller="Bread" asp-action="ViewBread" asp-route-id="@item.ID"><div class="container text-center">@item.Name</div></a>
            </div> 
            <br />
               
     }


<br />
<p>
    <a asp-controller="Bread" asp-action="Add">Add Bread</a>
</p>