@model IEnumerable<BreadBuilder.Models.Bread>

@{
    ViewData["Title"] = "UserRecipeList";
}

<h2 class="text-center">My Bread List</h2>



    @foreach (var item in Model)
     {

        
               <a asp-controller="Bread" asp-action="ViewBread" asp-route-id="@item.ID" class="btn btn-primary btn-block">@item.Name</a>
            
            
               
     }


<br />
<p>
    <a asp-controller="Bread" asp-action="Add" class="btn btn-block btn-warning">Add Bread</a>
</p>