@model IEnumerable<BreadBuilder.Models.Bread>

@{
    ViewData["Title"] = "UserRecipeList";
}

<h2 class="text-center">My Bread List</h2>
<br />
<br />

<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-lg-3">
            <a class="noUnder" asp-controller="Bread" asp-action="ViewBread" asp-route-id="@item.ID"><p id="itemCont">@item.Name</p></a>
        </div>
    }

</div>
<br />
<br />
<br />
<div>
    <a class="noUnder" asp-controller="Bread" asp-action="Add"><p id="addBread">Add A Bread</p></a>
</div>