@model IEnumerable<BreadBuilder.Models.Bread>

@{
    ViewData["Title"] = "UserRecipeList";
}

<h2 class="text-center">My Bread List</h2>



    @foreach (var item in Model)
     {

        
               <a class="noUnder" asp-controller="Bread" asp-action="ViewBread" asp-route-id="@item.ID"><p id="itemCont">@item.Name</p></a>
     }

<br />
<br />
<br />
<p>
    <a asp-controller="Bread" asp-action="Add" class="btn btn-block btn-warning">Add Bread</a>
</p>