@model BreadBuilder.ViewModels.AddBreadViewModel

@{
    ViewData["Title"] = "Add";
}

<h2>Add a Bread!</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <span class="form-inline">
                <label asp-for="Ingredient">Ingredient</label>
                <input asp-for="Ingredient" class="form-control" />

                <label asp-for="Measurement.Value">Measurement</label>
                <input asp-for="Measurement.Value" class="form-control" />

                <label asp-for="Measurement.Unit">Unit</label>
                <select asp-for="Measurement.Unit" asp-items="Model.MeasurementUnits"></select>
            
            </span>
            <div class="form-group">
                <label asp-for="Instructions" class="control-label"></label>
                <textarea rows="20" cols="100" asp-for="Instructions" class="form-control"></textarea>
                <span asp-validation-for="Instructions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Build" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

