@model BreadBuilder.ViewModels.AddBreadViewModel

@{
    ViewData["Title"] = "Add";
}



<h2>Add a Bread</h2>

@*TODO: ADD Client side validation*@
<hr />
<div>
    <p>Add or Subtract Ingredients</p>
</div>
<br />
<div class="row">
    <div class="col-lg-9">
        <div class="btn-group btn-group-lg" role="group" aria-label="Ingredient Controls">
            <button type="button" onclick="addInput()" class="btn btn-primary">+</button>
            <button type="button" onclick="removeInput()" class="btn btn-primary">-</button>
        </div>
   </div>
</div>
<br/>
<br/>

<form asp-action="Add" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="wrapper"></div>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-4">
            <label asp-for="BakeTime" class="control-label"></label>
            <input asp-for="BakeTime" class="form-control" />
            <span asp-validation-for="BakeTime" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <label asp-for="BakeTemp" class="control-label"></label>
            <input asp-for="BakeTemp" class="form-control" />
            <span asp-validation-for="BakeTemp" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="FermentTime" class="control-label"></label>
            <input asp-for="FermentTime" class="form-control" />
            <span asp-validation-for="FermentTime" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label asp-for="ProofTime" class="control-label"></label>
            <input asp-for="ProofTime" class="form-control" />
            <span asp-validation-for="ProofTime" class="text-danger"></span>
        </div>
    </div>


    <br />
    <div class="row">
        <div class="col-md-6">
            <label asp-for="Instructions" class="control-label"></label>
            <textarea rows="10" cols="50" asp-for="Instructions" class="form-control"></textarea>
            <span asp-validation-for="Instructions" class="text-danger"></span>
        </div>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" asp-action="Add" value="Build" class="btn btn-primary btn-lg" />
    </div>
</form>
 


